@font-face {
  font-family: "caigaobadou";
  src: url("./caigaobadou.ttf");
}

@font-face {
  font-family: "heiseqingren";
  src: url("./heiseqingren.ttf");
}

@font-face {
  font-family: "YunFengHanChanTi";
  src: url("./YunFengHanChanTi.ttf") format("truetype");
}

@font-face {
  font-family: "Muyao-Softbrush";
  src: url("./Muyao-Softbrush.ttf") format("truetype");
}

@font-face {
  font-family: "YaoSuiXinShouXieTi";
  src: url("./YaoSuiXinShouXieTi.ttf") format("truetype");
}