.sidebar {
  width: 130px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 142px;
  border-radius: 15px;
  z-index: 4;
}

.sidebar li {
  position: relative;
  z-index: 3;
}
.box li div {
  display: inline-block;
  width: 71.5px;
  height: 61.6px;
  background-image: url('./btn.png');
  background-size: 100% 100%;
  text-align: center;
  line-height: 62px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out; /* 仅针对文字颜色进行过渡 */

  &:hover {
    transform: scale(1.1);
    color: #f5347f;
  }
}

.box {
  cursor: pointer;
}

.box img {
  z-index: 4;
  position: absolute;
  width: 60px;
  top: -47px;
  right: 0px;
}

.appointment-modal {
  .modal-footer {
    width: 100%;
    display: flex;
    justify-content: center;

    .closeBtn {
      background-color: #bfefff;
      border: 0;
      width: 30%;
      margin-right: 15px;
    }
    .closeBtn:hover {
      background-color: #00bfff;
      color: white;
    }
    .submitBtn {
      background-color: #fec2d6;
      border: 0;
      width: 30%;
    }
    .submitBtn:hover {
      background-color: #f5347f;
      color: white;
    }
  }
}
