.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 242, 226, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.excalidraw {
  --color-on-primary-container: #f5347f !important;
  --color-surface-primary-container: #f7cfdeec !important;
  --color-surface-high: #fdebf2ec !important;
  --button-hover-bg: #fdebf2ec !important;
  --color-primary: #faa2c1 !important;
  --color-primary-darker: #f783ac !important;
  --color-primary-darkest: #e94c83 !important;
  --button-active-border: #f783ac !important;
  --color-primary-light: #fcc2d7 !important;
}
