.buffs-container {
  display: flex;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  .buff {
    margin-right: 6px;
    .buff-image {
      height: 32px;
      cursor: pointer;
    }
  }
  .buff:last-child {
    margin-right: 0;
  }
}
